.header{
    height: 200px;
    width: 100%;
    background-color: aqua;
}
.header img{
    height: 100%;
    width: auto;
}
.menu{
    height: 50px;
    width: 100%;
    background-color: rgb(137, 137, 179);
    text-align: center;
}
.menu ul{
    list-style-type: none;

}
.menu ul li{
    display: inline;
}