.flag{
    height: 200px;
    width: 380px;
    background-color: green;
    position: relative;
    position: absolute;
    top: 10px;
    left: 7px;
}
.circle{
    height: 120px;
    width: 120px;
    border-radius: 50%;
    background-color: red;
    position: absolute;
    top: 40px;
    left: 115px;
}
.stick{
    height: 500px;
    width: 7px;
    background-color: gray;
    position: relative;
}
.container{
    margin-left: 450px;
    margin-top: 50px;
}
.soil{
    height: 50px;
    width: 150px;
    background-color: brown;
    margin-left: 0px;
    margin-top: 0px;
    position: absolute;
    left: 380px;
}