
/* login page style start  */


.login-form{
    /* width: 360px; */
    align-items: center;
    height: min-content;
    padding: 20px;
    border-radius: 12px;
    background: rgb(235, 233, 233);
}
.login-form h1{
    font-size: 36px;
    margin-bottom: 25px;
}
.login-form form{
    font-size: 16px;
}
.login-form form .form-group{
    margin-bottom: 15px;
}

/* login page style end  */



























/* ---------------NAVBAR START----------------- */
.navbar {
    background-color: rgb(243, 195, 243);
}

/* --------------------NAVBAR END----------------- */





/* -----------------index.php  start-------------- */
.box-1 {
    background: rgb(139, 78, 158);
    border-radius: 5px;
}

.box-2 {
    background: rgb(192, 58, 58);
    border-radius: 5px;
}

.box-3 {
    background: rgb(108, 206, 78);
    border-radius: 5px;
}

.box-4 {
    background: rgb(172, 180, 62);
    border-radius: 5px;
}

/* --------------------index.php   end----------------- */






/* ---------------------members.php start------------------ */
.sidebar {
    background-color: gray;
}

/* ------------------------members.php end------------------ */





/* -----------------css for main-form-body start-------------- */
.main-form-body {
    width: 800px;
    height: min-content;
    padding: 20px;
    border-radius: 12px;
    background: rgb(235, 233, 233);
}

.main-form-body h1 {
    font-size: 36px;
    margin-bottom: 25px;
}

.main-form-body form {
    font-size: 16px;
}

.main-form-body form .form-group {
    margin-bottom: 15px;
}

/* -----------------css for main-form-body end-------------- */

.card{
    margin-bottom: 15px;
}